.service {
  background: var(--color-black);

}

.service__padding {
  padding: 2rem 6rem;
}

.service__wrap-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__wrap-img img {
  width: calc(50%);
}

/* .service__wrap-img img {
  width: calc(25% - 10px);
} */

.service__wrapper_img-reverse {
  justify-content: flex-start;
  margin-left: -1rem;
}

.service-menu {
  width: 100%;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.service-menu_heading {
  font-size: 45px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: white !important;

}

.service-menu_menus,
.service-menu_services {
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}


.service_menu_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}

.service__wrapper_img {
  order: 1;
}

.service__wrapper_info {
  order: 2;
}


@media screen and (max-width: 1150px) {
  .service-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .service__wrapper_img {
    order: 2;
  }

  .service__wrapper_info {
    order: 1;
  }

  .app__wrapper_img {
    margin-bottom: 3rem;
  }

  .service__wrap-img {
    flex-direction: row;
  }

  .service__wrap-img img {
    width: calc(50% - .1px);
  }
}

@media screen and (max-width: 600px) {

  .services-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }

  .app__wrapper_img {
    order: 2;
  }

  .service-menu_menus,
  .service-menu_services {
    order: 1;
  }
}